html, body {
    .theme-light {
        /* TODO */
        --theme-primary: black;
        --theme-background: white;
        --theme-background-darker: #DCDCDC;
        --theme-link: #0954c4;
    }

    .theme-dark {
        /* TODO */
    }

    /* TODO other themes */
}