html {
    font-family: sans-serif;
    font-size: 16px;
}

* {
    color: var(--theme-text-primary);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 26px;
}

h5 {
    font-size: 22px;
}

h6 {
    font-size: 18px;
}

.footer-header {
    font-size: 16px;
    font-weight: normal;
    border-bottom: 1px solid;
    width: min-content;
    white-space: nowrap;
}

a, .link {
    color: var(--theme-link);
}
