.card {
    min-width: 10vw;
    border: 1px solid var(--theme-text-primary);
    border-color: var(--theme-background-darker);
    border-radius: var(--border-radius);
    min-height: 15vh;
    margin-bottom: 1em;
    padding: 0.5em;

    & .card-title {
        font-size: x-large;
    }

}
